<!DOCTYPE html>

<html>

<head>


</head>

<div class="container">
<nav class="navbar navbar-expand-lg  blur blur-rounded top-0 border-bottom z-index-3 shadow w-100 mt-4 d-none d-lg-block my-3 py-2">
  <div class="container-fluid">
    <a class="navbar-brand font-weight-bolder ms-3" href="" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
      Dentonhub
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="navbar-nav me-auto">
        <li class="nav-item px-3">
          <a class="nav-link">
            Contact
          </a>
        </li>

        <li class="nav-item px-3">
          <a class="nav-link">
            À propos de nous
          </a>
        </li>

      </ul>

      <ul class="navbar-nav">
        <button class="btn btn-sm  bg-gradient-danger  btn-round mb-0 me-1">Se connecter</button>
      </ul>
    </div>
  </div>
</nav>

<body>

<header>
    <div class="page-header min-vh-75">
      <div class="oblique position-absolute top-0 h-100 d-md-block d-none">
        <div class="bg-img-top oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6"></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-7 d-flex justify-content-center text-md-start text-center flex-column mt-sm-0 mt-7">
            <h1 class="text-gradient text-danger">DentonHub</h1>
            <h1 class="mb-4">L'annuaire du monde dentaire</h1>
            <p class="lead pe-md-5 me-md-5">Promouvons la coopération, la qualité et l’innovation.</p>
              <div class="row justify-content-start">
                <div class="col-lg-10 col-md-7 d-flex justify-content-center text-md-start text-center flex-column mt-sm-0 mt-7">
                  <div class="row search-bar">
                    <div class="col-md-8 col-7">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                        <input type="text" class="form-control" placeholder="Je cherche un labo de prothèse à Paris …">
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-4 text-start ps-0">
                      <button type="button" class="btn bg-gradient-danger w-100 mb-0 h-100">Rechercher</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </header>






</body>

</div>



</html>