.search-bar {
  position: relative;
  margin-top: 20px;
}

.bg-img-top {
  position: relative;
  width: 80%;
  height: auto;
  left: 51px;
}

.img-search {
  position: relative;
  width: 200px;
}

.type-container {
  margin-top: 50px;
}

.bg-tile {
  background-color: #F9E79F;
}

.bold-text {
  font-weight: bold;
}

.fa-book {
  position: relative;
  margin-top: -10px;
  color: #7B41CA;
  font-size: 25px;
}

.contact-container {
  position: relative;
  margin-top: 50px;
  margin-left: 50px;

}

.book-icon {
  margin-top: 7px;
  margin-bottom: 24px;
}