<div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg  blur blur-rounded top-0  z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4 px-0">
          <div class="container">
            <a class="navbar-brand font-weight-bolder ms-3" href="/" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_self">
              DentonHub
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navigation">
              <ul class="navbar-nav me-auto">
                <li class="nav-item px-3">
                  <a href="/contact" class="nav-link">
                    Contact
                  </a>
                </li>

                <li class="nav-item px-3">
                  <a href="/about_us "class="nav-link">
                    À propos de nous
                  </a>
                </li>

              </ul>

              <ul class="navbar-nav">
                <button class="btn btn-sm  bg-gradient-primary  btn-round mb-0 me-1">Se connecter</button>
              </ul>
      </div>
    </div>
  </div>
  </div>
</nav>
</div>
</div>
</div>
